<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/insertHotel.css">

    <!-- js -->
    <script defer src="/js/admin/insertHotel.js"></script>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="admin-container">
            <th:block th:replace="~{fragments/adminLeft.html :: adminLeft_fragment}"></th:block>
            <div class="admin-right">
                <div class="title-container">
                    <h1 class="title">호텔 관리 > 호텔 등록</h1>
                </div>
                <div class="insert-hotel-container">
                    <section class="product_img_block">
                        <div class="product_img">
                            <div class="upload-box">
                                <div class="plus">+</div>
                            </div>
                        </div>

                        <div class="preview_img_block">
                            <label>PREVIEW</label>
                            <div id="preview"></div>
                        </div>
                    </section>

                    <section class="product_info_block">
                        <form class="image-form" id="imageForm" >
                            <div>
                                <label>호텔 이름</label>
                                <input name="hotelname" class="form-control" placeholder="호텔 이름" required>
                            </div>
                            <div>
                                <label>지역</label>
                                <div class="row-container">
                                    <input disabled name="region" class="form-control" placeholder="지역" type="text">
                                    <select class="form-select" id="regionList">
                                        <option value="" selected>-</option>
                                        <th:block th:each="region : ${regionList}">
                                            <option th:value="${region}" th:text="${region}"></option>
                                        </th:block>
                                        <option value="input">직접 입력</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label>우편번호</label>
                                    <div class="row-container">
                                        <input class="form-control" name="zipcode" id="zipcode" placeholder="우편번호" />
                                        <a onclick="AddressSearch()" class="btn btn-secondary search-addr-btn">우편번호 찾기</a>
                                    </div>
                                </div>
                                <div>
                                    <label>주소</label>
                                    <input class="form-control" name="addr1" id="addr1" placeholder="주소" />
                                </div>
                                <div>
                                    <label>상세주소</label>
                                    <input class="form-control" name="addr2" id="addr2" placeholder="상세주소">
                                </div>
                            </div>
                            <div>
                                <label>연락처</label>
                                <input name="contactInfo" class="form-control" placeholder="연락처 (- 포함 입력)" required>
                            </div>
                            <div>
                                <label>호텔 소개</label>
                                <input name="hotelDetails" class="form-control" placeholder="호텔 소개" required>
                            </div>
                            <div>
                                <button class="btn btn-primary add_hotel_btn w-100">등록</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

<!-- map -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>