<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/modifyRoom.css">

    <!-- js -->
    <script defer src="/js/admin/modifyRoom.js"></script>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="admin-container">
            <th:block th:replace="~{fragments/adminLeft.html :: adminLeft_fragment}"></th:block>
            <div class="admin-right">
                <div class="title-container">
                    <h1 class="title">호텔 관리 > 객실 수정 및 삭제</h1>
                </div>
                <form action="/admin/modifyRoom" method="get" th:if="${hotelName == null}">
                    <label for="hotelSelect">호텔을 선택해 주세요</label>
                    <select class="form-select" id="hotelSelect" name="hotelName">
                        <th:block th:each="hotel : ${hotelList}">
                            <option th:value="${hotel}" th:text="${hotel}"></option>
                        </th:block>
                    </select>
                    <button class="btn btn-primary w-100">확인</button>
                </form>

                <form action="/admin/modifyRoom" method="get" th:if="${hotelName != null and roomKind == null}">
                    <input type="hidden" name="hotelName" th:value="${hotelName}">
                    <label for="roomSelect">객실을 선택해 주세요</label>
                    <select class="form-select" id="roomSelect" name="roomKind">
                        <th:block th:each="room : ${roomList}">
                            <option th:value="${room}" th:text="${room}"></option>
                        </th:block>
                    </select>
                    <button class="btn btn-primary w-100">확인</button>
                </form>

                <div class="modify-room-container" th:if="${hotelName != null && roomKind != null}">
                    <section class="room-img-section">
                        <div>
                            <span>대표 이미지</span>
                            <div class="upload-box" id="mainUploadBox">
                                <div class="plus">+</div>
                            </div>
                            <span>PREVIEW</span>
                            <ul class="preview" id="mainPreview">
                                <li class="item">
                                    <input hidden type="text" class="existing-file-name" id="existingMainFileName"
                                           th:value="${roomMainFile.fileName}">
                                    <img th:src="@{${roomMainFile.dir} + ${roomMainFile.fileName}}"
                                         alt="">
                                    <button type="button" class="btn btn-secondary ms-2 text-nowrap delete-btn">삭제</button>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span>추가 이미지</span>
                            <div class="upload-box" id="additionalUploadBox">
                                <div class="plus">+</div>
                            </div>
                            <span>PREVIEW</span>
                            <ul class="preview" id="additionalPreview">
                                <li class="item" th:each="file : ${roomFileList}">
                                    <input hidden type="text" class="existing-file-name"
                                           id="existingAdditionalFileName"
                                           th:value="${file.fileName}">
                                    <img th:src="@{${file.dir} + ${file.fileName}}" alt="">
                                    <button type="button" class="btn btn-secondary ms-2 text-nowrap delete-btn">삭제</button>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="room-info-section">
                        <form id="modifyRoomForm">
                            <input hidden name="roomId" type="text" th:value="${roomMainFile.room.id}">
                            <input hidden name="currentKind" class="form-control"
                                   th:value="${roomMainFile.room.kind}" required>
                            <label for="kind">객실 종류</label>
                            <div class="row-container">
                                <input name="kind" id="kind" class="form-control" th:value="${roomMainFile.room.kind}"
                                       required>
                                <button type="button" class="btn btn-secondary w-50 ms-2" name="confirmRoomKindDuplicationBtn">중복
                                    확인
                                </button>
                            </div>
                            <div>
                                <label for="checkin">체크인</label>
                                <div class="row-container">
                                    <input name="checkinHour" id="checkin" class="form-control" th:value="${checkinHour}"
                                           type="text"
                                           required> :
                                    <input name="checkinMinute" class="form-control" th:value="${checkinMinute}"
                                           type="text"
                                           required>
                                </div>
                            </div>
                            <div>
                                <label for="checkout">체크아웃</label>
                                <div class="row-container">
                                    <input name="checkoutHour" id="checkout" class="form-control" th:value="${checkoutHour}"
                                           type="text"
                                           required> :
                                    <input name="checkoutMinute" class="form-control" th:value="${checkoutMinute}"
                                           type="text"
                                           required>
                                </div>
                            </div>
                            <div>
                                <label for="fridayPrice">금요일 가격</label>
                                <input name="fridayPrice" id="fridayPrice" class="form-control"
                                       th:value="${roomMainFile.room.fridayPrice}" required>
                            </div>
                            <div>
                                <label for="saturdayPrice">토요일 가격</label>
                                <input name="saturdayPrice" id="saturdayPrice" class="form-control"
                                       th:value="${roomMainFile.room.saturdayPrice}" required>
                            </div>
                            <div>
                                <label for="weekdayPrice">주중 가격</label>
                                <input name="weekdayPrice" id="weekdayPrice" class="form-control"
                                       th:value="${roomMainFile.room.weekdayPrice}" required>
                            </div>
                            <div>
                                <label for="standardPeople">기준 인원</label>
                                <input name="standardPeople" id="standardPeople" class="form-control"
                                       th:value="${roomMainFile.room.standardPeople}" required>
                            </div>
                            <div>
                                <label for="maximumPeople">최대 인원</label>
                                <input name="maximumPeople" id="maximumPeople" class="form-control"
                                       th:value="${roomMainFile.room.maximumPeople}" required>
                            </div>
                            <div>
                                <label for="count">객실 개수</label>
                                <input name="count" id="count" class="form-control" th:value="${roomMainFile.room.count}"
                                       required>
                            </div>
                            <div>
                                <button class="btn btn-primary w-100"
                                        name="modifyRoomBtn">수정
                                </button>
                                <button class="btn btn-primary w-100" name="deleteRoomBtn">삭제</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <input hidden id="hotelName" type="text" th:value="${hotelName}">
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

</body>
</html>