<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/modifyHotel.css">

    <!-- js -->
    <script defer src="/js/admin/modifyHotel.js"></script>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="admin-container">
            <th:block th:replace="~{fragments/adminLeft.html :: adminLeft_fragment}"></th:block>
            <div class="admin-right">
                <div class="title-container">
                    <h1 class="title">호텔 관리 > 호텔 수정 및 삭제</h1>
                </div>
                <form action="/admin/modifyHotel" method="get" th:if="${hotelName == null}">
                    <label for="hotelSelect" class="text">호텔을 선택해 주세요</label>
                    <select class="form-select" id="hotelSelect" name="hotelName">
                        <th:block th:each="hotel : ${hotelList}">
                            <option th:value="${hotel}" th:text="${hotel}"></option>
                        </th:block>
                    </select>
                    <button class="btn btn-primary w-100">확인</button>
                </form>

                <div class="modify-hotel-container" th:if="${hotelName != null}">
                    <section class="hotel-img-section">
                        <div>
                            <span>대표 이미지</span>
                            <div class="upload-box" id="mainUploadBox">
                                <div class="plus">+</div>
                            </div>
                            <span>PREVIEW</span>
                            <ul class="preview" id="mainPreview">
                                <li class="item">
                                    <input hidden type="text" class="existing-file-name" id="existingMainFileName"
                                           th:value="${hotelMainFile.fileName}">
                                    <img th:src="@{${hotelMainFile.dir} + ${hotelMainFile.fileName}}" alt="">
                                    <button type="button" class="btn btn-secondary ms-2 text-nowrap delete-btn">삭제</button>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span>추가 이미지</span>
                            <div class="upload-box" id="additionalUploadBox">
                                <div class="plus">+</div>
                            </div>
                            <span>PREVIEW</span>
                            <ul class="preview" id="additionalPreview">
                                <li class="item" th:each="file : ${hotelFileList}">
                                    <input hidden type="text" class="existing-file-name" id="existingAdditionalFileName"
                                           th:value="${file.fileName}">
                                    <img th:src="@{${file.dir} + ${file.fileName}}" alt="">
                                    <button type="button" class="btn btn-secondary ms-2 text-nowrap delete-btn">삭제</button>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="hotel-info-section">
                        <form id="modifyHotelForm">
                            <input hidden name="region" id="region" class="form-control"
                                   th:value="${hotel.region}" type="text">
                            <div>
                                <label for="hotelName">호텔 이름</label>
                                <input disabled name="hotelName" id="hotelName" class="form-control" th:value="${hotel.hotelName}"
                                       required>
                            </div>
                            <div>
                                <div>
                                    <label for="zipcode">우편번호</label>
                                    <div class="row-container">
                                        <input disabled class="form-control" name="zipcode" id="zipcode"
                                               th:value="${hotel.zipcode}"/>
                                        <button type="button" class="btn btn-secondary w-50" name="searchAddressBtn">
                                            우편번호 찾기
                                        </button>
                                    </div>
                                </div>
                                <div>
                                    <label for="addr1">주소</label>
                                    <input class="form-control" name="addr1" id="addr1" th:value="${hotel.addr1}"/>
                                </div>
                                <div>
                                    <label for="addr2">상세주소</label>
                                    <input class="form-control" name="addr2" id="addr2" placeholder="상세 주소"
                                           th:value="${hotel.addr2}">
                                </div>
                            </div>
                            <div>
                                <label for="contactInfo">연락처</label>
                                <input name="contactInfo" id="contactInfo" class="form-control"
                                       th:value="${hotel.contactInfo}" required>
                            </div>
                            <div>
                                <label for="hotelDetails">호텔 소개</label>
                                <input name="hotelDetails" id="hotelDetails" class="form-control" th:value="${hotel.hotelDetails}">
                            </div>
                            <div>
                                <button class="btn btn-primary w-100" name="modifyHotelBtn" value="modify">수정</button>
                                <button class="btn btn-primary w-100" name="deleteHotelBtn" value="delete">삭제</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

<!-- map -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>