<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/monthSales.css">

    <!-- js -->
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="/js/admin/monthSales.js"></script>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="admin-container">
            <th:block th:replace="~{fragments/adminLeft.html :: adminLeft_fragment}"></th:block>
            <div class="admin-right">
                <div class="title-container">
                    <h1 class="title">매출 현황 > 월별 매출 >&nbsp;
                        <span th:text="${region}"></span>&nbsp;
                        <span th:if="${hotelName != null}">></span>&nbsp;
                        <span th:text="${hotelName}"></span>
                    </h1>
                </div>
                <div class="sales-container">
                    <div class="category-container">
                        <button disabled class="category-btn" id="categoryBtn">카테고리</button>
                        <div hidden class="row-container" id="category">
                            <ul>
                                <li>
                                    <a id="totalLink" href="javascript:void(0)">전체</a>
                                </li>
                                <li th:each="region : ${regionList}">
                                    <span class="region" th:text="${region}"></span>
                                </li>
                            </ul>
                            <th:block th:each="region : ${regionList}">
                                <ul hidden th:data-value="${region}" class="hotel-list">
                                    <li>
                                        <a class="link hotel-total" href="javascript:void(0)">전체</a>
                                    </li>
                                    <li th:if="${region == hotel.region}" th:each="hotel : ${allHotelList}">
                                        <a href="javascript:void(0)"
                                           class="link hotel"
                                           th:text="${hotel.hotelName}"></a>
                                    </li>
                                </ul>
                            </th:block>
                        </div>
                    </div>
                    <canvas id="salesGraph"></canvas>
                </div>

            </div>
        </div>
    </div>

    <span hidden class="january-sales" th:text="${januarySales}"></span>
    <span hidden class="february-sales" th:text="${februarySales}"></span>
    <span hidden class="march-sales" th:text="${marchSales}"></span>
    <span hidden class="april-sales" th:text="${aprilSales}"></span>
    <span hidden class="may-sales" th:text="${maySales}"></span>
    <span hidden class="jun-sales" th:text="${junSales}"></span>
    <span hidden class="july-sales" th:text="${julySales}"></span>
    <span hidden class="august-sales" th:text="${augustSales}"></span>
    <span hidden class="september-sales" th:text="${septemberSales}"></span>
    <span hidden class="october-sales" th:text="${octoberSales}"></span>
    <span hidden class="november-sales" th:text="${novemberSales}"></span>
    <span hidden class="december-sales" th:text="${decemberSales}"></span>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>


</body>
</html>