<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/reservationStatus.css">

    <!-- js -->
    <script defer src="/js/admin/reservationStatus.js"></script>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="admin-container">
            <th:block th:replace="~{fragments/adminLeft.html :: adminLeft_fragment}"></th:block>
            <div class="admin-right">
                <div class="title-container">
                    <h1 class="title">예약 현황 >
                        <th:block th:switch="${region}">
                            <span class="text" th:case='seoul'>서울</span>
                            <span class="text" th:case='busan'>부산</span>
                            <span class="text" th:case='ulsan'>울산</span>
                        </th:block>
                    </h1>
                </div>
                <div class="reservation-table-container">
                    <span class="text">예약 테이블 공간(reservation table에서 데이터 가져와서 게시판 형식으로 나열. 취소 버튼을 만들어서 예약 및 결제 취소 되도록 할 예정)</span>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>


</body>
</html>