.title {
    font-size: 2.25rem;
    font-weight: 500;
}

#main > .content-container {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.find-pw-container {
    margin-top: 5rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.find-pw-container div.code {
    display: none;
}

.find-pw-container div,
.find-pw-container div.code.visible {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.find-pw-container > button {
    margin-top: 2rem;
}