.title {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 500;
}

.kakao {
    background-color: #fddc35;
}

.google {
    border: 1px solid #afafaf;
}

.oauth2-btn img {
    position: absolute;

    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.oauth2-btn span {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
}

form {
    margin-top: 5rem;
}

#main > .content-container {
    margin: 5rem 0;
}

#main > .content-container > .form-login {
    width: 300px;
    margin: 0 auto;
}

#main > .content-container > form > .form-login{
    width: 300px;
    margin: 0 auto;
}

#main > .content-container > form > .form-login > .login_btn{
    width: 300px;
    height: 50px;
    margin-top: 20px;
}

#main > .content-container > .form-login > .register_btn{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #e3cfc3;
    margin-top: 20px;
}

#main > .content-container > form > .form-login > .form-control{
    height: 50px;
}

#main > .content-container > form > .form-option{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#main > .content-container > form > .form-option > .form-remember{
    display: inline;
    cursor: pointer;
}

#main > .content-container > form > .form-option > .form-remember > *{
    cursor: pointer;
}

#main > .content-container > form > .form-option > .form-find{
    text-align: right;
}

#main > .content-container > form > .form-option > .form-find > *{
    display: inline;
}

#main > .content-container > form > .form-option > .form-find > .form-findId{
    border-right: 1px solid #bcbcbc;
    padding: 2px;
}

#main > .content-container > form > .form-option > .form-find > .form-findPw{
    margin: 4px;
}

#main > .content-container > .form-oauth2{
    width: 300px;
    margin: 0 auto;
}

#main > .content-container > .form-oauth2 > .oauth2-btn{
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 0 30px;
}
