<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link rel="stylesheet" href="/css/board/detail.css">
    <th:block th:insert="~{/fragments/link.html :: link_fragment}"></th:block>
    <script defer src="/js/board/detail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header.html :: header_fragment}"></th:block>
<h1>공지 게시글</h1>
<div class="card mb-4">
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" disabled
                          th:text="${board.content}"></textarea>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="~{/fragments/footer.html :: footer_fragment}"></th:block>
</body>
</html>