<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/detail.css}">
    <th:block th:insert="~{fragments.html :: headCdns}"></th:block>
    <script defer th:src="@{/board/resources/scripts/detail.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    .table {
        width: 500px;
        margin: 0 auto;
    }

    .button {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    button {
        width: 120px;
    }
</style>
<body>
<th:block th:replace="~{fragments.html :: header}"></th:block>
<table class="table">
    <tr>
        <th>id</th>
        <td th:text="${board.id}"></td>
    </tr>
    <tr>
        <th>제목</th>
        <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
        <th>작성자</th>
        <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
        <th>날짜</th>
        <td th:text="${board.boardCreatedTime}"></td>
    </tr>
    <tr>
        <th>조회수</th>
        <td th:text="${board.boardHits}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td th:text="${board.boardContents}"></td>
    </tr>
</table>
<div class="button">
    <button onclick="saveReq()">글작성</button>
    <button onclick="listReq()">게시판 목록</button>
    <button onclick="updatrReq()">수정</button>
    <button onclick="deleteReq()">삭제</button>
</div>
<!--댓글 작성-->
<div id="comment-write">
    <input type="text" id="commentWriter" placeholder="작성자">
    <input type="text" id="commentContents" placeholder="내용">
    <button id="comment-write-btn" onclick="commentWrite()">댓글 작성</button>
</div>
<!--댓글 출력-->
<div id="comment-list">

</div>
<th:block th:replace="~{fragments.html :: footer}"></th:block>
</body>
<script th:inline="javascript">
    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        console.log("작성자: ", writer);
        console.log("내용: ", contents);
        const id = [[${board.id}]];
        $.ajax({
            // 요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용, 게시글번호
            type: "post",
            url: "/comment/save",
            data: {
                "commentWriter": writer,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res) {
                console.log("요청성공", res);
                let output = "<table>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" + res[i].id + "</td>";
                    output += "<td>" + res[i].commentWriter + "</td>";
                    output += "<td>" + res[i].commentContents + "</td>";
                    output += "<td>" + res[i].commentCreatedTime + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment-list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContents').value = '';
            },
            error: function (err) {
                console.log("요청실패", err);
            }
        });

    }
    const saveReq = () => {
        location.href = "/board/save"
    }
    const listReq = () => {
        location.href = "/board/list"
    }
    const updatrReq = () => {
        const id = [[${board.id}]]; // 모델로 받아온 id를 자바스크립트에서 사용 하기 위해서는 <script th:inline="javascript"> 필요
        location.href = "/board/update/" + id;
    }
    const deleteReq = () => {
        const id = [[${board.id}]];
        location.href = "/board/delete/" + id;
    }
</script>

</html>