<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/board/notice.css">

    <!-- js -->
    <!--    <script defer src="/js/admin/modifyRoom.js"></script>-->
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="board-container">
            <th:block th:replace="~{fragments/boardLeft.html :: boardLeft_fragment}"></th:block>
            <div class="board-right">
                <div class="title-container">
                    <h1 class="title">고객문의 안내 > 공지사항</h1>
                </div>
                <table id="table_List" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>글제목</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 댓글 !-->
                    <tr th:each="noticeBoard : ${noticeBoardList}">
                        <td>
                            <a th:href="@{'/board/noticeList/' + ${noticeBoard.id}}">
                                <span th:text="${noticeBoard.title}"></span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(noticeBoard.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

</body>
</html>