<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/board/update.css">
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<form id="mainForm" th:action="@{'/board/update'}" method="post" name="updateForm">
    <input type="hidden" name="id" th:value="${boardUpdate.id}"/>
    <div>
        <label class="form-label fw-bold fs-5">작성자</label>
        <input class="form-control" type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}" readonly>
    </div>
    <div>
        <label class="form-label fw-bold fs-5">비밀번호</label>
        <input class="form-control" type="text" name="boardPassword" id="boardPassword">
    </div>
    <div>
        <label class="form-label fw-bold fs-5">제목</label>
        <input class="form-control" type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}">
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold fs-5">내용</label>
        <textarea class="form-control" name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea>
    </div>
    <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
    <input class="form-control" type="button" value="글 수정" onclick="boardUpdate()">
</form>
<span class="button mt-3">
    <button class="btn btn-primary mb-3" onclick="listReq()">목록</button>
</span>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>


</body>
<script th:inline="javascript">
    const boardUpdate = function (){
        const passWord = [[${boardUpdate.boardPassword}]];
        const inputPassword = document.getElementById("boardPassword").value;
        if (passWord == inputPassword) {
            document.updateForm.submit();
        } else {
            alert("비밀번호가 일치하지 않습니다.")
        }
    }
    const listReq = () => {
        if (history.length > 1) {
            history.back();
        } else {
            window.close();
        }
    }
</script>
</html>