<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link rel="stylesheet" href="/css/board/detail.css">
    <th:block th:insert="~{/fragments/fragments.html :: headCdns}"></th:block>
    <script defer src="/js/board/detail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/header.html :: header_fragment}"></th:block>

<h1>게시판</h1>
<div class="card mb-4">
    <div class="card-body">
        <form method="post">
            <div>
                <span>id</span>
                <th:block th:text="${board.id}"></th:block>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title"
                       th:value="${board.title}">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content"
                          th:text="${board.content}"></textarea>
            </div>
            <div class="mb-3">
                <label for="createdAt" class="form-label">작성일</label>
                <input type="text" class="form-control" id="createdAt" name="createdAt"
                       th:value="${#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm')}" disabled>
            </div>
            <div class="mb-3">
                <label for="writer" class="form-label">작성자</label>
                <input type="text" class="form-control" id="writer" name="writer"
                       th:value="${board.username}" disabled>
            </div>
            <button type="submit" class="btn btn-primary">수정</button>
        </form>
    </div>
</div>
<button onclick="saveReq()">글작성</button>
<button onclick="listReq()">게시판 목록</button>