#map {
    width: 80vw;
    height: 70vh;
    margin-bottom: 5rem;
}

.info-title {
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 24px;
    line-height: 22px;
    border-radius: 4px;
    padding: 0 20px;
}