@charset "UTF-8";

#main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-container > .title {
    text-align: center;
    margin: 4rem 0;
}

.link-container {
    margin-bottom: 3rem;
}

.link-container > .link:first-child {
    border-right: 0.0625rem solid #D2C4A5;
}

.link-container > .link:nth-child(2) {
    margin-left: 1.25rem;
}

.link-container > .link > .icon {
    height: 1.25rem;
    margin-bottom: 0.25rem;
}

.link-container > .link > .text {
    color: #4D473C;
    font-size: 1.2rem;
    padding-right: 1.25rem;
}

.list-container {
    border-top: 0.175rem solid #575757;
}