@charset "UTF-8";

.title-container > .title {
    text-align: center;
    margin: 4rem 0 2rem 0;
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.step-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 2rem;
}

.step-container > .step {
    width: 1.75rem;
    height: 1.75rem;

    border: 0.0625rem solid #AD9E87;
    border-radius: 50%;
    font-weight: 500;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.step-container > .step:nth-child(3) {
    color: #ffffff;
    background-color: #AD9E87;
}

.step-container > .line {
    width: 2rem;
    height: 0;
    border: 0.0625rem solid #AD9E87;
}

.confirmation-payment-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 2.5rem;
}

.confirmation-payment-container > .confirmation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirmation-payment-container > .confirmation-container > .image-container {
    overflow: hidden;
    height: 300px;
}

.confirmation-payment-container > .confirmation-container > .image-container img {
    width: 550px;
}

.confirmation-payment-container > .confirmation-container > .info {
    width: 600px;
    border-bottom: #9c9c9c 0.0625rem solid;
}

.confirmation-payment-container > .confirmation-container > .info .bold {
    display: inline-block;
    width: 10rem;
    font-weight: 500;
}

.confirmation-payment-container > .confirmation-container > .info li {
    margin-bottom: 1rem;
}

.confirmation-payment-container > .payment-container {
    margin: 3rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirmation-payment-container > .payment-container .subtitle {
    font-weight: 500;
    font-size: 1.25rem;
}

.confirmation-payment-container > .payment-container > .payment-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.confirmation-payment-container > .payment-container > .payment-left > .user-info-container {
    border: 0.0625rem solid #9c9c9c;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    width: 800px;
    height: 200px;
}

.confirmation-payment-container > .payment-container > .payment-left > .payment-method-container {
    border: 0.0625rem solid #9c9c9c;
    margin-top: 1.25rem;
    width: 800px;
    height: 200px;
}

.confirmation-payment-container > .payment-container > .payment-right > .price-container {
    border: 0.0625rem solid #9c9c9c;
    margin-top: 1.25rem;
    width: 300px;
    height: 400px;
}