@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

a:link, a:visited {
    text-decoration: none;
}

body {
    min-height: 100vh;
    color: #17202a;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: unset;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .content-container-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .content-container-wrapper > .content-container {
    max-width: 1200px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: unset;
    margin-inline: unset;
}

ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.spring {
    flex: 1;
}

#header {
    background-color: #F1E3C4;
    height: 90px;
}
#header > .menu {
    position: absolute;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: inherit;
}

#header > .menu > .find {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#header > .menu > .find > .link {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-bottom: 0.875rem;

}

#header > .menu > .find > .link > .icon {
    height: 1.25rem;
    margin-right: 0.375rem;
    margin-bottom: 0.2rem;
}

#header > .menu > .find > .link > .icon > .text {
    white-space: nowrap;
}


#header > .menu > .subMenu {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#header > .menu > .subMenu > .userArea {
    align-content: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;

    margin-top: 0.275rem;
}

#header > .menu > .subMenu > .userArea > .user:nth-child(2) > .link {
    margin: 0 1.5rem;
}

#header > .menu > .subMenu > .userArea > .user:first-child > .link {
    border-right: 0.0625rem solid #D2C4A5;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

#header > .menu > .subMenu > .userArea > .user > .link > .text {
    color: #706958;
    font-weight: 400;
    font-size: 0.9rem;
}

#header > .menu > .subMenu > .hotelArea {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 100%;
}

#header > .menu > .subMenu > .hotelArea > .hotel {
    margin-left: 1.25rem;
    padding-bottom: 0.625rem;
    border-bottom: 0.25rem solid transparent;
    box-sizing: border-box;
    transition-duration: 250ms;
    transition-property: border-bottom-color;
    transition-timing-function: ease;
}

#header > .menu > .subMenu > .hotelArea > .hotel:hover {
    border-bottom: 0.25rem solid #4D473C;
}

#header > .menu > .subMenu > .hotelArea > .hotel > .link {
    margin: 0 0.5rem;
    white-space: nowrap;
}

#header > .logo {
    z-index: 5;
    width: 477px;
    height: inherit;
    margin: 0 auto;
}

#header > .logo > a {
    display: inline-block;
    width: inherit;
    height: inherit;
}

#header > .logo > .link {
    position: relative;
}

#header > .logo > .link > .title-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header .spring {
    flex: 1;
}

#header > .menu > .find > .link > .text,
#header > .menu > .subMenu > .hotelArea > .hotel > .link {
    color: #4D473C;
    font-size: 1.125rem;
    font-weight: 600;
}

#main {
    flex: 1;
}

#footer {
    background-color: #F1E3C4;
    height: 7.5rem;
}

#footer > .content-container {
    margin: auto 0;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#footer > .content-container > .content-container-right > .icon-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footer > .content-container > .content-container-right > .terms-policy-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin-top: 0.35rem;
}

#footer > .content-container > .content-container-right > .terms-policy-container > .privacy-policy > .link {
    border-right: 0.0625rem solid #D2C4A5;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

#footer > .content-container > .content-container-right > .terms-policy-container > .privacy-policy > .link >  .text {
    color: #706958;
    font-weight: 400;
    font-size: 0.9rem;
}

#footer > .content-container > .content-container-right > .terms-policy-container > .terms > .link {
    margin-left: 1.5rem;
}

#footer > .content-container > .content-container-right > .terms-policy-container > .terms > .link >  .text {
    color: #706958;
    font-weight: 400;
    font-size: 0.9rem;
}

#footer > .content-container > .content-container-left > .copyright {
    margin: unset;
}

#findTop > .title-container > .title {
    text-align: center;
    margin: 4rem 0;
    font-size: 2.25rem;
    font-weight: 500;
}

#findTop > .link-container {
    margin-bottom: 1rem;
}

#findTop > .link-container > .link:first-child {
    border-right: 0.0625rem solid #D2C4A5;
}

#findTop > .link-container > .link:nth-child(2) {
    margin-left: 1.25rem;
}

#findTop > .link-container > .link > .icon {
    height: 1.25rem;
    margin-bottom: 0.25rem;
}

#findTop > .link-container > .link > .text {
    color: #4D473C;
    font-size: 1.2rem;
    padding-right: 1.25rem;
}

.search-container {
    height: 100px;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 0.0625rem solid #9c9c9c;
}

.search-container > .search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-container > .search-form input {
    cursor: pointer;
    border: none;
}

.search-container > .search-form input::placeholder {
}

.search-container > .search-form > .search-button {
    padding: 0.925rem 3rem;
    border-radius: 0.375rem;
    border: 0.0625rem solid #ffffff;
}

.search-container > .search-form > .search-item:nth-child(4) {
    margin-right: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-container > .search-form > .search-item:nth-child(4) input {
    pointer-events: none;
    width: 30px;
}

.search-container > .search-form > .search-item:nth-child(4) input::placeholder {
    text-align: center;
}


.search-container > .search-form > .search-item:nth-child(4) > .adult-container {
    margin-right: 2rem;
    text-align: center;
}

.search-container > .search-form > .search-item:nth-child(4) > .adult-container > .count-container,
.search-container > .search-form > .search-item:nth-child(4) > .child-container > .count-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search-container > .search-form > .search-item:nth-child(4) > .child-container {
    text-align: center;
}

.search-container > .search-form > .search-item:first-child > .search > .icon {
    height: 1.25rem;
    margin-bottom: 0.275rem;
}

.search-container > .search-form > .search-item:nth-child(4) .icon {
    height: 1.125rem;
    margin-bottom: 0.25rem;
}