<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!--    common.css  -->
    <link rel="stylesheet" href="/css/common.css">
    <!--    findId.css  -->
    <link rel="stylesheet" href="/css/user/findId.css">
    <!--    findId.js -->
    <script defer src="/js/user/findId.js"></script>

    <title>아이디 찾기</title>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1 class="title">아이디 찾기</h1>
        <div class="find-id-container">
            <div>
                <label>이름</label>
                <input class="common-input" name="name" id="name" placeholder="이름">
            </div>
            <div>
                <label>이메일</label> <span id="email_msg"></span>
                <span>
                    <input class="common-input" name="email" id="email" placeholder="회원가입시 등록한 이메일">
                    <button type="button" onclick="SendEmail()">인증</button>
                </span>
            </div>
            <div class="code">
                <label>인증코드</label> <span id="code_msg"></span>
                <input class="common-input" name="emailCode" id="emailCode" placeholder="인증코드">
            </div>
            <button class="btn btn-secondary" type="button" onclick="isValid()">아이디 찾기</button>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

</body>
</html>