<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>JOIN PAGE</h1>
<form name="joinform" action="/user/join" method="post" onsubmit="return false">
  USERNAME : <input name="user_id" /> <br/>
  PASSWORD : <input name="password" type="password" /> <br/>
  <button onclick="isValid()">가입요청</button>
</form>

<script>
  const form = document.joinform;
  const isValid=()=>{
    if(form.user_id.value.trim()===""){
      alert("USERNAME은 반드시 입력해야 합니다.");
      return ;
    }else if(form.password.value.trim()===""){
      alert("PASSWORD는 반드시 입력해야 합니다.");
      return ;
    }
    form.submit();
  }

</script>


</html>