<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:insert="~{fragments.html :: headCdns}"></th:block>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/user/resources/stylesheets/login.css}">
    <title>로그인</title>

</head>
<body>

<th:block th:replace="~{fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
        <div class="content-container">
            <div class="title-container">
                <h1 class="title">로그인</h1>
            </div>
            <form action="/user/login" method="post">
                <div class="form-login">
                    <label class="form-label">아이디</label>
                    <input name="username" class="form-control" placeholder="로그인"/> <br/>
                </div>
                <div class="form-login">
                    <label class="form-label">비밀 번호</label>
                    <input name="password" type="password" class="form-control" placeholder="비밀번호"/> <br/>
                </div>
                <div class="form-option">
                    <div class="form-remember">
                        <input type="checkbox" name="remember-me" id="remember-me" class="form-check-input"/>
                        <label for="remember-me" class="form-check-label">로그인 유지</label>
                    </div>
                    <div class="form-find">
                        <div class="form-findId">
                            <a href="findId">아이디 찾기</a>
                        </div>
                        <div class="form-findPw">
                            <a href="findPw">비밀번호 찾기</a>
                        </div>
                    </div>
                </div>
                <div class="form-login">
                    <input class="login_btn" type="submit" value="로그인"/>
                </div>
            </form>
            <div class="form-oauth2">
                <button onclick="location.href='/oauth2/authorization/kakao'" class="oauth2-btn">카카오로 로그인</button>
                <button onclick="location.href='/oauth2/authorization/google'" class="oauth2-btn">구글로 로그인</button>
            </div>
            <div class="form-login">
                <button onclick="location.href='/user/join'" class="register_btn">회원가입</button>
            </div>
            <div th:text="${param.error}" class = "form-login"></div>
        </div>
</main>

<th:block th:replace="~{fragments.html :: footer}"></th:block>
</body>
</html>