<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!--    common.css  -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/myinfo.css">

</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="admin-container">
            <div class="admin-left">
                <div class="title-container">
                    <h1 class="title">마이페이지</h1>
                </div>
                <div class="menu">
                    <div class="subtitle-container">
                        <h2 class="subtitle">회원정보</h2>
                    </div>
                    <div class="link-container">
                        <a href="/user/myinfo?information=read" class="link">회원정보 확인</a>
                        <a href="/user/myinfo?information=update" class="link">회원정보 수정</a>
                        <a href="/user/myinfo?information=delete" class="link">회원탈퇴</a>
                    </div>
                    <div class="subtitle-container">
                        <h2 class="subtitle">예약확인</h2>
                    </div>
                    <div class="link-container">
                        <a href="/user/myinfo?reservation=read" class="link">예약현황</a>
                        <a href="/user/myinfo?reservation=update" class="link">예약변경</a>
                        <a href="/user/myinfo?reservation=delete" class="link">예약취소</a>
                    </div>
                    <div class="subtitle-container">
                        <h2 class="subtitle">문의사항</h2>
                    </div>
                    <div class="link-container">
                        <a href="/user/myinfo?question=create" class="link">문의하기</a>
                        <a href="/user/myinfo?question=read" class="link">문의내역</a>
                    </div>
                </div>
            </div>
            <div class="admin-right">
                <div class="title-container">
                    <h1 class="title" th:if="${information} != null">회원정보 >
                        <span th:switch="${information}">
                            <span th:case='read'>회원정보 확인</span>
                            <span th:case='update'>회원정보 수정</span>
                            <span th:case='delete'>회원탈퇴</span>
                        </span>
                    </h1>
                    <h1 class="title" th:if="${reservation} != null">예약확인 >
                        <span th:switch="${reservation}">
                            <span th:case='read'>예약현황</span>
                            <span th:case='update'>예약변경</span>
                            <span th:case='delete'>예약취소</span>
                        </span>
                    </h1>
                    <h1 class="title" th:if="${question} != null">문의사항 >
                        <span th:switch="${question}">
                            <span th:case='create'>문의하기</span>
                            <span th:case='read'>문의내역</span>
                        </span>
                    </h1>
                </div>
                <div class="reservation-table-container">
                    <span class="text">예약 테이블 공간(reservation table에서 데이터 가져와서 게시판 형식으로 나열. 취소 버튼을 만들어서 예약 및 결제 취소 되도록 할 예정)</span>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>


</body>
</html>