<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="findTop" th:fragment="findTop_fragment">
    <h1 class="title">호텔 지점</h1>
    <div class="link-container">
        <a th:href="@{/hotel/find}" class="link list">
            <img class="icon"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA50lEQVR4nGNgGAWjYDABH3ebDh83m1Uw7Otu609XB/i625zxdbf5D8duNuXI8mnGxqw+bjZ1Pu42M8nBvm420/1cbe3IdoCfq405ijwZ2MfdZh/ZDqivZ2DydbPJBUcVOdjNps3Pw84QpwN83GyqkYPM293WnbjIGwXDBXh7W0h7O9sowbC/vb0AXR3gSyAXgEBoqBabt7eNIDk41MWFnyIHeHlZyvu4W3+gqCxws5lOqQPeU1YQWU8bvFHgPdCJcBQMOPAZ6MrIlw7VsY+7rdHQbZCkUaFJ5u1uZTt4G6WjYBQwDAAAADi/cBM8xa2lAAAAAElFTkSuQmCC">
            <span class="text">List</span>
        </a>
        <a th:href="@{/hotel/findMap}" class="link map">
            <img class="icon"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAACS0lEQVR4nL1Xz2vUUBB++JOCUkT8UT2oBw/Wg+Iiu5uZNKDJTEjeS7vI+xf05kFPBWHvevSsHvSkeFIR9SIUFAQvXi2oiAhFRVTsrcqrbBfbfa+bl2w/GAjZnfm+TL5MJkJ4QEfRjiLBZsFBsRwJNs05MWrkHLIifKQYFhXjn/8DFiXBQ0WQ1E6szjT3KcYna0kHh2R43Enae2shL1KcVIwfhiVfCcL3WTx1rBL5zNnTuyXhfGnyXicI3qUp7vEWIAnv+5L3ReBdP3IO2opxqaqA5RoptDyuHm6tc2U/JONTSfhMMvx0i4Cbpci11psl4xdHwXvGH73/m2Nzzm5IWOh2xaahBeR566Cj2OvzjcbW1TlRFG1RhK9seR0OJ4YXQNiwFcpT6NjyJIXnrHmEjXoEEJyw5WVJcNI+nMJTQwtQSXjEfv/DaXsHcMaWl2XtQ+VMSPjb4v6X5vfVOcZkinDOYtpfpUxooAhfOCbcbR3H4yuC43hcMd5xGPe5KAvFMOt8tgm/SYYHJsyxc2YwXvIRcLyGKfjPuPHUUeEDyfi2KrkkeONFbqAILlcWwHBB+KIogp2S4bu3AIIFrVtj3gIMFOM1//ZjV1RFh8OJ9d92A+NrnuMuUQckw5Xy9x4virqgdWvM7HglWj+v9eQ2USek40235rnnkMUooFxLR7/1N0ZC3vs+cG1KkvFTbcazoeAwtyyrS3kaZGIjIBmvDxg6V8VGIU3T7WYv6JPj3KA9caTIsmi/IvioCD4XcXBgQ8l7mObosIkqRf4CDln1TjWH+0cAAAAASUVORK5CYII=">
            <span class="text">Map</span>
        </a>
    </div>
</div>

</body>
</html>