<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<footer id="footer" class="content-container-wrapper" th:fragment="footer_fragment">
    <div class="content-container">
        <div class="content-container-left">
            <a class="link" href="/">
                <img src="/images/ITHOTEL.header.png" class="title-logo">
            </a>
            <p class="copyright">Copyright ⓒ 2024 ITHOTEL Inc.</p>
        </div>
        <div class="spring"></div>
        <div class="content-container-right">
            <div class="icon-container">
                <a class="link" href="#">
                    <img class="instagram"
                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAACEUlEQVR4nO2Wy0/CQBDG+2+a+DgINw96M1ECcjGpaEI9YGwiXuBg0AA+Em2NiiC+CIjP6EETPYhvE71pxnyjNVXb0lYUDx4mWZbd/XVmvp1ZQexsoHqY8A8W/0qo5VAHqako5ReStLqYtjSswVq5r909WAp66WArT7fXFVrPTJKSitLshGxpWLOemaK7mwvaL62Q1ONxBpaCXrqqnNHy3BiFuhodhxF7sPfy/NQULhhNwlNs/G4es0qC9ko5e2A51MHhdePpQHczFfMKJUZF/t3f1cRhN8r5FzDEsbE8bQkIB1opPhSgWMTPY20+0ttGz89PVN5YeJ/DWUpypDp4bSnNIjECDga9tFPI0OPDPR0fbrFhvF1YYl1o8P7u5g+OQPFVwfhCKNQICsHl1ASHVB/enDrO/2lwveEsowjaBsNTQM3CvzI/QeXNxdqCw4FWDqne0y/C8rXwGn3Ovw2ODwXo+LBcVdUnR9ssuJqBYxF/fcDheoVa7GzgKwP1WopLd39rBpberhMAH66Tr4Xn+DoZ1GXb4DWLAoKDcWVeC0iZDWN4atYMbBcQ1WbJhIg+l0wj28zO2CuZcl+76ybx2bQmMWynScDQxGvRFlHpdotZBw+BHg83cfRTN57DU0BxhlkqBLPNgKOJI1TIuWrj6aPpA3vgqVX+hWpfj/woDh57EJJRTkWn4J8y4R8s/lKoXwALkuWIyKMGbwAAAABJRU5ErkJggg==">
                </a>
            </div>
            <ul class="terms-policy-container">
                <li>
                    <a class="link privacy-policy" href="privacyPolicy">
                        <span class="text">개인정보 처리방침</span>
                    </a>
                </li>
                <li>
                    <a class="link terms" href="terms">
                        <span class="text">이용약관</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>