<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="header_fragment">
    <div class="content-container menu">
        <h1 class="item logo">
            <a href="/" class="link">
                <img th:src="@{/images/ITHOTEL.header.png}" class="title-logo">
            </a>
        </h1>
        <span class="spring"></span>
        <div class="subMenu">
            <div class="userArea">
                <div hidden class="welcome-message-container" id="message">
                    <a href="/user/myinfo" class="link name">이운호</a>님 환영합니다!
                </div>
                <a hidden href="/user/login" class="link" id="login">
                    <span class="text">로그인</span>
                </a>
                <a hidden href="/logout" class="link" id="logout">
                    <span class="text">로그아웃</span>
                </a>
                <a hidden href="/user/join" class="link" id="join">
                    <span class="text">회원가입</span>
                </a>
                <a hidden href="/user/myinfo" class="link" id="myPage">
                    <span class="text">마이페이지</span>
                </a>
                <a hidden href="/admin/reservationStatus?region=seoul" class="link" id="adminPage">
                    <span class="text">관리자페이지</span>
                </a>
            </div>
            <div class="hotelArea">
                <a th:href="@{/hotel/find}" class="link">호텔 찾기</a>
                <a th:href="@{/hotel/info}" class="link">호텔 소개</a>
                <a href="#" class="link">고객 문의</a>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>