<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="header_fragment">
    <div class="content-container menu">
        <h1 class="item logo">
            <a class="link" onclick="navigateTo('/')">
                <img th:src="@{/images/ITHOTEL.header.png}" class="title-logo">
            </a>
        </h1>
        <span class="spring"></span>
        <div class="subMenu">
            <div class="userArea">
                <div class="welcome-message-container" sec:authorize="hasRole('ROLE_USER')">
                    <a class="link name" onclick="navigateTo('/user/myinfo')" th:text="${#authentication.Principal.userDto.name}"></a>님 환영합니다!
                </div>
                <a class="link" onclick="navigateTo('/user/myinfo')" sec:authorize="hasRole('ROLE_USER')">
                    <span class="text">마이페이지</span>
                </a>
                <a href="/admin/reservationStatus?region=seoul" class="link" sec:authorize="hasRole('ROLE_ADMIN')">
                    <span class="text">관리자페이지</span>
                </a>
                <a href="/user/login" class="link" sec:authorize="isAnonymous()">
                    <span class="text">로그인</span>
                </a>
                <a class="link" onclick="navigateTo('/logout')" sec:authorize="isAuthenticated()">
                    <span class="text">로그아웃</span>
                </a>
                <a href="/user/join" class="link" sec:authorize="isAnonymous()">
                    <span class="text">회원가입</span>
                </a>
            </div>
            <div class="hotelArea">
                <a class="link" onclick="navigateTo('/hotel/find')">호텔 찾기</a>
                <a class="link" onclick="navigateTo('/hotel/info')">호텔 소개</a>
                <a class="link" onclick="navigateTo('#')" sec:authorize="hasRole('ROLE_USER') || isAnonymous()">고객 문의</a>
            </div>
        </div>
    </div>
</th:block>

</body>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>
</html>