<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<th:block th:fragment="hotelList">
    <div id="hotelList">
        <div class="modal" rel="modal">
            <span class="text area">서울</span>
            <label class="label name">
                <input type="button" class="hotelName" value="호텔 A">
                <input type="button" class="hotelName" value="호텔 B">
                <input type="button" class="hotelName" value="호텔 C">
                <input type="button" class="hotelName" value="호텔 D">
            </label>
            <span class="text area">부산</span>
            <label class="label name">
            </label>
            <span class="text area">울산</span>
            <label class="label name">
            </label>
        </div>
    </div>
</th:block>

</body>
</html>