<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<th:block th:fragment="hotelList">
    <div id="hotelList">
        <div class="modal" rel="modal">
            <div class="hotel" th:each="region:${region}">
                <span class="text area" th:text="${region}"></span>
                <label class="label name">
                    <th:block th:each="list:${hotelList}">
                        <input type="button" class="button" th:if="${region == list.region}" th:value="${list.hotelname}">
                    </th:block>
                </label>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>