<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- common.css -->
    <link rel="stylesheet" href="/css/common.css">
    <!-- findMap.css -->
    <link rel="stylesheet" href="/css/findMap.css">

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ea7f9c895362adfeaa8d4cec51df919e&libraries=services"></script>
    <script defer src="/js/findMap.js"></script>
    <title>Document</title>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <th:block th:replace="~{fragments/fragments.html :: findTop}"></th:block>
        <div id="map"></div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

</body>
</html>