<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!--    common.css  -->
    <link rel="stylesheet" href="/css/common.css">
    <!--    reservationStep1.css  -->
    <link rel="stylesheet" href="/css/hotel/reservationStep1.css">
    <!--    datepicker.css  -->
    <link href="/css/datepicker.min.css" rel="stylesheet" type="text/css" media="all">


    <!-- js    -->
    <script defer src="/js/datepicker.js"></script>
    <script defer src="/js/datepicker.ko.js"></script>
    <script defer src="/js/hotel/reservationStep1.js"></script>

    <title>Document</title>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <div class="title-container">
            <h1 class="title">호텔, 날짜, 인원 선택</h1>
        </div>
        <div class="step-container">
            <span class="step">1</span>
            <span class="line"></span>
            <span class="step">2</span>
        </div>

        <thblock th:replace="~{fragments/fragments.html :: search-container}"></thblock>

        <div class="room-container">
            <img th:src="@{/images/sample.png}" alt="">
            <form action="/hotel/reservationStep2" method="get" class="reservation-form">
                <div class="room-info-container">
                    <div class="room-name">프리미엄 디럭스</div>
                    <div class="time-container">
                        <div class="in">입실 15:00</div>
                        <div class="out">퇴실 11:00</div>
                    </div>
                    <div class="capacity">기준 2인, 최대 2인</div>
                </div>
                <span class="price">30,000원 / 1박</span>
                <button class="reservation-button">예약</button>
            </form>
        </div>
        <div class="room-container">
            <img th:src="@{/images/sample.png}" alt="">
            <form action="/hotel/reservationStep2" method="post" class="reservation-form">
                <div class="room-info-container">
                    <span class="room-name">프리미엄 디럭스</span>
                    <div class="time-container">
                        <div class="in">입실 15:00</div>
                        <div class="out">퇴실 11:00</div>
                    </div>
                    <span class="capacity">기준 2인, 최대 2인</span>
                </div>
                <span class="price">30,000원 / 1박</span>
                <button class="reservation-button">예약</button>
            </form>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

</body>
</html>