@charset "UTF-8";

input:focus {
    outline : none;
}

#main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-container {
    margin: 0 auto;
}

.slide-container {
    max-height: 600px;
    height: 100%;
}

.slide {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    max-height: 600px;
    height: 100%;
}

.slide ul {
    position: relative;
    width: 300vw;
    list-style: none;
    font-size: 0;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide ul li {
    width: 100vw;
    display: inline-block;
}

.slide ul li img {
    width: 100%;
    max-height: 800px;
}

.slide button.prev {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    opacity: 0;
}

.slide button.next {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
    opacity: 0;
}

.slide:hover button.prev,
.slide:hover button.next {
    opacity: 1;
}