@charset "UTF-8";

input:focus {
    outline : none;
}

.title {
    font-size: 2.75rem;
    font-weight: 500;
}

#main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-container {
    margin: 0 auto;
}

.slide-container {
    max-height: 600px;
    height: 100%;
}

.slide {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    max-height: 600px;
    height: 100%;
}

.slide ul {
    position: relative;
    width: 300vw;
    list-style: none;
    font-size: 0;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide ul li {
    width: 100vw;
    display: inline-block;
}

.slide ul li img {
    width: 100%;
    max-height: 800px;
}

.slide button.prev {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    opacity: 0;
}

.slide button.next {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5%;
    opacity: 0;
}

.slide:hover button.prev,
.slide:hover button.next {
    opacity: 1;
}

.main-section-1 {
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-1.visible {
    opacity: 1;
}

.main-section-2 {
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-2.visible {
    opacity: 1;
}

.main-section-1 .text,
.main-section-2 .text {
    text-align: center;
}

.main-section-1 .img-container,
.main-section-2 .img-container {
    margin-top: 2.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-section-1 .img-container img,
.main-section-2 .img-container img {
    width: 350px;
    height: 200px;
}

.swiper {
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 12.5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 600px;
}

.swiper.visible {
    opacity: 1;
}

.swiper-wrapper {
    width: 1000px !important;
    left: 100px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.swiper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    color: black !important;
}

.info-container {
    text-align: center;
    z-index: 10;
    width: 600px;
    height: 150px;
    position: absolute;
    opacity: 0.7;
    background-color: white;
    left: 200px;
}

.message-me {
    display: inline-block;
    max-width: 300px;
    left: 5rem;
    position: relative;
    border-radius: 0.25rem;
    padding: 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
}

.message {
    display: inline-block;
    max-width: 300px;
    border-radius: 0.25rem;
    padding: 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
}

.chat-container {
    position: fixed;
    bottom: 80px;
    right: 80px;
    z-index: 2;
}

.chat {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
    opacity: 0;

    transition-timing-function: ease;
    transition-property: opacity;
    transition-duration: 500ms;
}

.chat.visible {
    opacity: 1;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.user-input {
    display: flex;
    padding: 10px;

}

.user-input input {
    flex: 1;
    padding: 10px;
    outline: none;
}

.user-input button {
    border: none;
    background-color: #1e88e5;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.chat-icon {
    cursor: pointer;
    float: right;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.0625rem #17202a50;
}