#main_wrapper {
    width: 1000px;
    margin: 0 auto;
}

#main_wrapper > h2 {
    margin: 20px;
}

#main_wrapper > form {
    text-align: right;
}

#main_wrapper > form > .search > .form-select {
    display: unset;
    width: unset;
}


.search > .btn {
    vertical-align: unset;
}

.search > .form-control {
    display: unset;
    width: unset;
    margin-right: 5px;
}


.pagination  {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.page-link {
    border: unset!important;
}
.page-item.active > .page-link{
    background-color: rgb(32, 150, 243)!important;
}

.page-link > span {
    font-weight: bold;
}
