<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>홈페이지</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!--    common.css  -->
    <link rel="stylesheet" href="/css/common.css">
    <!--    homepage.css  -->
    <link rel="stylesheet" href="/css/homepage.css">
    <!-- datePicker's css -->
    <link href="/css/datepicker.min.css" rel="stylesheet" type="text/css" media="all">


    <!-- js    -->
    <script defer src="/js/datepicker.js"></script>
    <script defer src="/js/datepicker.ko.js"></script>
    <script defer src="/js/homepage.js"></script>


</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>


<main id="main" class="content-container-wrapper">
    <div class="slide-container">
        <div class="slide">
            <button onclick="slideImage('prev')" class="prev" type="button">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA30lEQVR4nO3YQWoCQRCF4Vq4MbpQ0RMKnkLwWDKCFFUNTbe2tsmFlJAQDKhb+w3vg9nM7ufNNMOIEBERgTm7L5LZUtAjsvtXdr9ms7XAR/jvhRZTVOfZ7PNfxM+1V9WBIAghTLNZeRDhqjoWBIERjeASLS2RzI7QL3ZVnTCiBZVLNKL2YYkY4yy7nx59O5VSPgRmCfcD9BK9CvnGGLRlkrv1KubSdSNBUhmDd5rtYoxDQVIZ0yguA7hMB3cAxCef/clsC/PL9NUyyX0jiOpdDGzE/WOWQlj93SAiIpL3ugFKeOV7KuCVQAAAAABJRU5ErkJggg=="
                     alt="">
            </button>
            <button onclick="slideImage('next')" class="next" type="button">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA3UlEQVR4nO3WWwrCMBSE4bgXwdtmBMWNaRVXk55psYm4C8HLFvQhUlEftPVRcuJ8kAX8TGhjDBERUSQcMN5Z2zeaVSITJ3LxImdfFCOjOgII9yNyUhnjRdaviMdxwGFblj2jSQih40SW7zH1Mg4YGk0CY+JeJkvpmmWM0bRMlecDk0KMA44qYzywYExsklvGAauPDwCw31jbNQqXmTct4zW9mr9dMa8lpPVxqelqhZYlGPFrXCIWXCIWXCIWXCIWIYU/di2JiJrP85kHrqojGmL0Rjw5YKo+goiI/tINGwPylqRAtaEAAAAASUVORK5CYII="
                     alt="">
            </button>
            <ul>
                <!-- 이미지는 외부 정적 경로로 변경할 예정 -->
                <li><img th:src="@{/images/hotel1.jpg}" alt=""></li>
                <li><img th:src="@{/images/hotel2.jpg}" alt=""></li>
                <li><img th:src="@{/images/hotel3.jpg}" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="content-container">
        <thblock th:replace="~{fragments/search.html :: search-container}"></thblock>
        주변 여행지나 아무 콘텐츠
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>


</body>
</html>