@charset "UTF-8";

.pay-method-button {
    width: 100px;
    height: 50px;
    border: 0.0625rem solid #bcbcbc;
    border-radius: 8px;
    margin-right: 1rem;
}

.pay-method-button img {
    width: 70%;
}

.pay-method-button.clicked {
    background-color: #f1f1f1;
}


.title {
    text-align: center;
    margin: 4rem 0 2rem 0;
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.step-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 2rem;
}

.step {
    width: 1.75rem;
    height: 1.75rem;

    border: 0.0625rem solid #AD9E87;
    border-radius: 50%;
    font-weight: 500;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.step:nth-child(3) {
    color: #ffffff;
    background-color: #AD9E87;
}

.line {
    width: 2rem;
    height: 0;
    border: 0.0625rem solid #AD9E87;
}

.confirmation-payment-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 2.5rem;
}

.confirmation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-container {
    overflow: hidden;
    height: 300px;
}

.image-container img {
    width: 550px;
}

.reservation-info {
    width: 600px;
    border-bottom: #9c9c9c 0.0625rem solid;
}

.reservation-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.reservation-info .text.bold {
    display: inline-block;
    width: 10rem;
}

.reservation-info li {
    margin-bottom: 1rem;
}

.payment-container {
    margin: 3rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtitle {
    font-weight: 500;
    font-size: 1.25rem;
}

.payment-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pay-method-container {
    margin-top: 0.75rem;
    width: 800px;
}

.price-container {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1.25rem;
    width: 300px;
}

.price-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.price-text-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.price-text-container div {
    display: flex;
    padding: 1rem 0;
}

.price-text-container div:not(:last-child) {
    border-bottom: 1px solid #666;
}

.price {
    font-size: 1.2rem;
}

.payment-event {
    margin-top: 1.75rem;
}

.payment-event h3 {
    display: inline-block;
    font-weight: 600;
    font-size: 1.1rem;
}

.payment-event .benefit {
    margin-right: 0.35rem;
    color: #f45858;
    font-weight: 700;
    background-color: #ffbebe;
    padding: 0.25rem 0.25rem;
    text-align: center;
    border-radius: 5px;
}

.payment-event .event-text {
    line-height: 110%;
    margin-top: 0.75rem;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1.25rem;
}

.pay-button {
    width: 100%;
    height: 50px;
    background-color: #dfdfdf;
    border-radius: 10px;
}

.pay-button:hover {
    background-color: #c3c3c3;
}