#main_wrapper {
    width: 1000px;
    margin: 50px auto;
}

#main_wrapper > .table_wrapper .main_table {
    border-top: #cdcbbe solid 1px;
    border-collapse: collapse;
    width: 100%;
}
#main_wrapper > .table_wrapper > .main_table > tbody > tr {

    border-bottom: #cdcbbe solid 1px;
}
#main_wrapper > .table_wrapper > .main_table > tbody > tr > th {
    border-right: #cdcbbe solid 1px;
    color: #666;
    background: #faf9f4;
    padding: 15px;
    width: 15%;
}

#main_wrapper > .table_wrapper > .main_table > tbody > tr > td {
    padding-left: 20px;
    background: #FFF;
    color: #1b1b1b;
}


#main_wrapper > .table_wrapper .main_table {
    border-top: #cdcbbe solid 1px;
    border-collapse: collapse;
    width: 100%;
}
#main_wrapper > .table_wrapper > .main_table > tbody > tr {

    border-bottom: #cdcbbe solid 1px;
}
#main_wrapper > .table_wrapper > .main_table > tbody > tr > th {
    border-right: #cdcbbe solid 1px;
    color: #666;
    background: #faf9f4;
    padding: 15px;
    width: 15%;
}

#main_wrapper > .table_wrapper > .main_table > tbody > tr > td {
    padding-left: 20px;
    background: #FFF;
    color: #1b1b1b;
}
