body > .content-container-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .content-container-wrapper > .content-container {
    max-width: 1200px;
    width: 100%;
}

.board-container {
    margin: 5rem 0;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board-left {
    padding: 1rem;
    width: 250px;
    border: 0.0625rem solid #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.board-container .title-container {
    border-bottom: 0.3rem solid #4a4a4a;
}

.board-container > .board-right {
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem 5rem;
}

.board-container h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.board-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.board-left > .menu > .link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
}

.board-container > .admin-right {
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem 5rem;
}

.board-left > .menu > .link-container > .link {
    margin: 0.5rem 0;
}

.board-left a {
    color: black;
    font-weight: 500;
}

#main_wrapper {
    width: 1000px;
    margin: 0 auto;
}

#main_wrapper > h2 {
    margin: 20px;
}

#main_wrapper > form > .search {
    text-align: right;
}

#main_wrapper > form > .search > .form-select {
    display: unset;
    width: unset;
}


.search > .btn {
    vertical-align: unset;
}

.search > .form-control {
    display: unset;
    width: unset;
    margin-right: 5px;
}

.information-info-container > .table_wrapper > .main_table > tbody > tr > th {
    border-right: #cdcbbe solid 1px;
    color: #666;
    background: #faf9f4;
    width: 15%;
    padding-left: 15px;
    font-weight: bold;
}

.information-info-container > .table_wrapper .main_table {
    border-top: #cdcbbe solid 1px;
    border-collapse: collapse;
    width: 100%;
}

.information-info-container > .table_wrapper > .main_table > tbody > tr > td {
    padding-left: 20px;
    background: #FFF;
    color: #1b1b1b;
}
.main_call, .hotel_addr, .hotel_introduce {
    margin-right: 40px;
}
tr {
    height: 30px;
}

td {
    border-bottom: #eceae1 solid 1px;
    padding: 5px;
}
.unset_border {
    border-bottom: unset;
}

