<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!--    common.css  -->
    <link rel="stylesheet" href="/css/common.css">
    <!--    index.css  -->
    <link rel="stylesheet" href="/css/policy/privacyPolicy.css">


    <!--    js  -->
    <script defer src="/js/policy/privacyPolicy.js"></script>

    <title>Document</title>
</head>
<body>

<header id="header" class="content-container-wrapper">
    <th:block th:insert="~{fragments/header.html :: header_fragment}"></th:block>
</header>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1 class="title">개인정보 처리방침</h1>
        <div class="privacy-policy-container">
            <ul class="privacy-policy">
                <li class="item">
                    <button data-value="privacy-policy1" class="privacy-policy-btn">
                        <span class="sub-title">1. 개인정보 수집</span>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy1" class="privacy-policy-content">
                        회사는 서비스 제공을 위하여 필요 최소한의 범위 내에서 개인정보를 수집합니다.<br>
                        회원 가입 시 또는 서비스 이용 과정에서 홈페이지 또는 개별 서면 양식 등을 통해 아래와 같은 서비스 제공을 위해 최소한의 개인정보를 수집하고 있습니다.<br><br>
                        정보주체는 회원가입을 하지 않아도 호텔 검색, 보기 등의 서비스를 회원과 동일하게 이용할 수 있습니다. 정보주체가 회원 요금 예약 등과 같이 개인화 혹은 회원제 서비스를
                        이용하기
                        위해 회원가입을 할 경우, IT호텔은 서비스를 이용을 위해 필요한 최소한의 개인정보를 수집합니다.<br><br>
                        만약, 정보주체가 이용하는 생년월일이 19세 미만일 경우에는 회원가입이 불가합니다.<br>
                        <p class="bold">개인정보를 수집하는 방법은 다음과 같습니다.</p>

                        개인정보를 수집하는 경우에는 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법을 통해 개인정보를 수집합니다.
                        <ul>
                            <li>
                                - 회원 가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우<br>
                                - 제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우<br>
                                - 상담 과정에서 웹∙앱 페이지, 메일, 팩스, 전화 등<br>
                                - 온·오프라인에서 진행되는 이벤트∙행사 등 참여<br>
                                - 서비스 이용 시 생성된 결제정보, 포인트 거래정보 등 수집
                            </li>
                        </ul>
                        <br>

                        <p class="bold">서비스 이용과정에서 정보주체로부터 수집하는 개인정보는 아래와 같습니다.</p>
                        IT호텔 내 개별 서비스 이용, 이벤트 응모 등 해당 서비스의 정보주체에 한해 추가 개인정보 수집이 발생할 수 있으며, 개인정보를 수집할 경우에는 해당 개인정보 수집
                        시점에서
                        ‘수집하는 개인정보 항목’, ‘개인정보의 수집 및 이용목적’, ‘개인정보의 보유기간’, ‘수집 거부의 권리 및 거부 시 불이익의 내용’에 대해서 안내 드리고 동의를
                        받습니다.
                    </div>
                </li>
                <li class="item">
                    <button data-value="privacy-policy2" class="privacy-policy-btn">
                        <span class="sub-title">2. 개인정보 이용</span>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy2" class="privacy-policy-content">
                        <p class="bold">회원 가입 또는 서비스 이용과정에서 홈페이지 및 개별 멤버십 프로그램 등을 통해 아래와 같은 최소한의 개인정보를 이용하고 있습니다.</p>
                        <ul>
                            <li>
                                - 본인 식별, 가입의사 확인, 본인∙연령 확인, 부정이용 방지, 회원 관리<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;· 만 14세 미만 아동 여부 확인, 법정 대리인의 권리행사 시 본인확인<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;(회사는 원칙상 만14세 아동의 개인정보를 수집하고 있지 않습니다.)<br>
                                - 서비스 제공, 문의사항 또는 불만처리, 공지사항 전달<br>
                                - 유료 서비스 제공에 따르는 본인 식별, 구매 및 요금 결제, 상품 및 서비스의 배송<br>
                                - 이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션에 이용<br>
                                - 콘텐츠 등 기존 서비스 제공(광고 포함), 인구통계학적 특성과 이용자의 관심, 기호, 성향의 추정을 통한 맞춤형 컨텐츠 추천<br>
                                - 서비스 이용 기록, 접속 빈도 및 서비스 이용에 대한 통계, 고객 만족도 등 서비스 개선에 활용<br>
                                - 서비스의 원활한 운영에 지장을 주는 행위(계정 도용 및 부정 이용 등 포함)에 대한 방지 및 제재
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <button data-value="privacy-policy3" class="privacy-policy-btn">
                        <span class="sub-title">3. 개인정보 제공 및 위탁</span>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy3" class="privacy-policy-content">
                        회사는 정보주체의 별도 동의가 있는 경우나 법령에 규정된 경우를 제외하고는 정보주체의 개인정보를 제3자에게 제공하지 않습니다.
                        <p class="text bold">서비스 제휴를 위해 아래와 같이 개인정보를 제공하고 있습니다.</p>
                        회사는 정보주체의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다. 다만, 정보주체가 체인 IT호텔 및 외부 제휴사 등의 서비스를 이용하기 위하여 개인정보 제공에
                        동의한 경우 개인정보를 제3자에게 제공하고 있습니다.
                    </div>
                </li>
                <li class="item">
                    <button data-value="privacy-policy4" class="privacy-policy-btn">
                        <span class="sub-title">4. 개인정보의 파기</span>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy4" class="privacy-policy-content">
                        회사는 원칙적으로 개인정보를 회원 탈회 시 지체없이 파기하고 있습니다. 단 위 1항(개인정보 수집) 등 정보주체의 개인정보 보유기간에 대해 별도의 동의를 얻은 경우 또는
                        법령에서 일정기간 보유 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.<br><br>
                        회원 탈회, 서비스 종료, 정보주체에게 동의 받은 개인정보 보유기간의 도래와 같이 개인정보의 수집 및 이용목적이 달성된 개인정보는 재생이 불가능한 방법으로 파기하고
                        있습니다. 법령에서 보존 의무를 부과한 정보에 대해서도 해당 기간 경과 후 지체없이 재생이 불가능한 방법으로 파기합니다.<br>
                        전자적 파일 형태의 경우 복구 및 재생이 되지 않도록 기술적인 방법을 이용하여 안전하게 삭제하며, 출력물 등은 분쇄하거나 소각하는 방식 등으로 파기합니다.
                    </div>
                </li>
                <li class="item">
                    <button data-value="privacy-policy5" class="privacy-policy-btn">
                        <span class="sub-title">5. 정보주체 및 법정대리인의 권리∙의무 및 그 행사방법</span>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy5" class="privacy-policy-content">
                        정보주체(회원 및 법정대리인)는 언제든지 자신의 개인정보를 열람(조회)하거나 수정할 수 있으며, 동의 철회 또는 해지를 요청할 수 있습니다. 개인정보의 오류에 대한 정정을
                        요청하신 경우 정정을 완료하실때까지 해당 개인정보를 이용 또는 제공하지 않습니다. 또한 제3자에게 이미 제공한 경우에는 정정 처리결과를 지체없이 통지하여 정정이 이루어지도록
                        하겠습니다.<br>

                        <ul>
                            <li>
                                - 회원의 경우 홈페이지 > 마이페이지에서 개인정보 열람, 수정, 탈퇴를 하실 수 있습니다. 이메일 및 유선전화를 원하시는 경우
                                ithotel@gmail.com,
                                02-759-7671~3으로 연락 주시면 본인확인 후 안내해 드리겠습니다.<br>
                                - 호텔 방문 및 유선으로 요청 시 본인 확인 후 개인정보 열람, 수정, 삭제, 처리 정지를 하실 수 있습니다.<br>
                                - 개인정보 보호와 관련된 문의는 문의사항을 남겨주시면 본인 확인 후 안내해 드리겠습니다.<br>
                                - 정보주체 본인의 권리행사가 어려운 경우 위임을 받은 대리인을 통해서 하실 수 있으며, 회사는 이때 정당한 법정대리인 여부를 확인할 수 있습니다.<br>
                                (개인정보처리방법에 관한 고시 별지 제11호 서식에 따른 위임장을 제출하셔야 가능합니다.)<br>
                                - 개인정보 열람 및 처리정지, 삭제 요구는 유관 법령에 따른 그 권리가 제한될 수 있습니다.
                            </li>
                        </ul>
                        <br>
                        <p class="text bold">광고성 정보 전송에 대한 동의 거부권 행사 방법</p>

                        <ul>
                            <li>
                                - 이메일 수신거부 : 이메일 하단의 수신거부 설정 기능<br>
                                - 문자(SMS, LMS, MMS) 수신거부 : 문자 하단 수신거부 연락처<br>
                                - 홈페이지 수신거부 : 회원정보 수정 > 마케팅활용동의 동의/거부<br>
                                - APP 수신거부 : 앱 환경설정 > 마케팅(광고성) 푸시 알림 수신 동의/거부<br>
                                Android : 설정 > Google > 광고 > 광고 맞춤 설정 해제<br>
                                iOS : 설정 > 개인 정보 보호 > 광고 > 광고 추적 제한 ON
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <button data-value="privacy-policy6" class="privacy-policy-btn">
                        <span class="sub-title">6. 인터넷 접속파일 등 쿠키(cookie)의 운용 및 활용</span>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy6" class="privacy-policy-content">
                        보다 빠르고 웹사이트 이용자의 빠르고 편리한 웹사이트 사용을 지원하고 맞춤형 서비스를 제공하기 위해 쿠키정보를 사용합니다.<br><br>
                        쿠키란?<br>
                        쿠키는 이용자가 웹사이트를 접속할 때에 해당 웹사이트에서 이용자의 웹브라우저를 통해 이용자의 PC에 저장하는 매우 작은 크기의 텍스트 파일입니다.<br><br>

                        <p class="text bold">다음과 같은 목적으로 쿠키를 사용합니다.</p>
                        <ul>
                            <li>
                                - 고객(회원 및 비회원)의 접속 빈도나 방문 시간 등을 분석하고 이용자의 취향과 관심분야를 파악하여 타겟(Target) 마케팅 및 서비스 개편 등의 척도로
                                활용합니다.<br>
                                - 회사에 대한 정보와 관심 있게 둘러본 서비스들에 대한 자취를 추적하여 다음 이용 시 개인 맞춤 서비스를 제공하는데 이용합니다.<br>
                                - 각 서비스가 수집하는 정보의 처리는 해당 서비스의 정책에 따르며, 이용자는 브라우저에서 추적 방지 또는 쿠키 사용 거부 기능을 사용하시거나 해당 서비스에서
                                제공하는
                                방식으로 자동화된 수집을 거부하실 수 있습니다.<br>
                                - 수집된 비식별 행태 정보는 구글의 구글 애드워즈, 구글 애드센스 서비스, 네이버 애널리틱스, 페이스북의 비즈니스 도구, 카카오의 카카오 모먼트,
                                Criteo
                                OneTag, Insider, Rocket Fuel, Salesforce, Inc, Treasure Data, Xandr, Yahoo Japan,
                                Youtube 의 파트너사
                                등을 통하여 온라인 광고 등을 목적으로 사용될 수 있습니다. 마케팅, 웹 분석 지원 서비스 제공 업체의 사정에 따라 각 서비스의 명칭 및 정책 등이 변경될 수
                                있습니다.
                            </li>
                        </ul>
                        <p class="text bold">Google Analystics</p>
                        <ul>
                            <li>
                                - 개요 : 웹 사이트 트래픽을 추적하고 보고하는 Google에서 제공하는 웹 분석 서비스<br>
                                - 서비스 정책 : https://support.google.com/analytics/answer/6004245?hl=ko<br>
                                - 수집 거부 : https://support.google.com/analytics/answer/9019185?hl=ko
                            </li>
                        </ul>

                        <p class="text bold">Google AdSense</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 맞춤형 광고를 제공하는 도구<br>
                                - 서비스 정책 : https://support.google.com/adsense/answer/48182<br>
                                - 수집 거부 : https://support.google.com/adsense/answer/1348695?hl=ko&ref_topic=9886175
                            </li>
                        </ul>

                        <p class="text bold">네이버 애널리틱스</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 광고의 성과를 측정하는 Naver에서 제공하는 분석 도구<br>
                                - 서비스 정책 : https://analytics.naver.com/popup/termofuse.html<br>
                                - 수집 거부 : https://privacy.naver.com/knowledge/cookie?menu=knowledge_info_relation_cookie
                            </li>
                        </ul>

                        <p class="text bold">Facebook Pixel</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 광고의 성과를 측정하는 Facebook에서 제공하는 분석 도구<br>
                                - 서비스 정책 : www.facebook.com/about/privacy/<br>
                                - 수집 거부 : https://www.facebook.com/settings/?tab=ads ​
                            </li>
                        </ul>

                        <p class="text bold">Kakao Pixel</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 광고의 성과를 측정하는 Kakao에서 제공하는 분석 도구<br>
                                - 서비스 정책 : https://kakaoad.github.io/kakao-pixel/pixel-guide.html<br>
                                - 수집 거부 : 쿠키 이용 거부를 통한 수집 거부
                            </li>
                        </ul>


                        <p class="text bold">Criteo OneTag</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 맞춤형 광고를 제공하는 도구<br>
                                - 서비스 정책 : http://help.criteo.com/kb/guide/ko/-bbFLejr6XZ/Steps/1842462<br>
                                - 수집 거부 : https://help.criteo.com/kb/guide/ko/-bbFLejr6XZ/Steps/1842462
                            </li>
                        </ul>


                        <p class="text bold">Insider</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 맞춤형 서비스를 제공하는 도구<br>
                                - 서비스 정책 : https://useinsider.com/product-privacy-policy/<br>
                                - 수집 거부 : privacy@useinsider.com 이메일 발송
                            </li>
                        </ul>

                        <p class="text bold">Rocket Fuel</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 최적화된 광고를 제공하는 도구<br>
                                - 서비스 정책 : Rfihub.com<br>
                                - 수집 거부 : 구글 크롬을 통한 삭제
                            </li>
                        </ul>


                        <p class="text bold">Salesforce, Inc</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 고객 식별을 통한 맞춤형 광고를 제공하는 도구<br>
                                - 서비스 정책 : https://www.salesforce.com/privacy/overview/<br>
                                - 수집 거부 : 쿠키 이용 거부를 통한 수집 거부
                            </li>
                        </ul>


                        <p class="text bold">Treasure Data</p>
                        <ul>
                            <li>
                                - 개요 : 사용자가 웹 사이트에서 취한 행동을 파악하여 고객 분석 및 고객 식별을 위한 도구<br>
                                - 서비스 정책 : https://www.treasuredata.com/cookies/<br>
                                - 수집 거부 : 쿠키 이용 거부를 통한 수집 거부
                            </li>
                        </ul>


                        <p class="text bold">Xandr</p>
                        <ul>
                            <li>
                                - 개요 : 사용자에게 맞춤형 광고를 제공하고 광고주에 적합한 고객을 식별하여 광고를 노출하는 기술 제공<br>
                                - 서비스 정책 : https://www.xandr.com/privacy/cookie-policy/<br>
                                - 수집 거부 : https://www.xandr.com/privacy/cookie-policy/
                            </li>
                        </ul>


                        <p class="text bold">Yahoo Japan</p>
                        <ul>
                            <li>
                                - 개요 : 마케팅 활동을 효과적으로 실시하기 위한 정보를 파트너 기업에 제공<br>
                                - 서비스 정책 : https://privacy.yahoo.co.jp/glossary/cookies.html<br>
                                - 수집 거부 : https://support.yahoo-net.jp/SccYjcommon/s/article/H000012092
                            </li>
                        </ul>


                        <p class="text bold">Youtube</p>
                        <ul>
                            <li>
                                - 개요 : 웹사이트에 YouTube의 동영상을 포함하거나 해당 링크를 삽입하여 활용<br>
                                - 서비스 정책 : https://www.youtube.com/t/privacy-policy<br>
                                - 수집 거부 : https://support.yahoo-net.jp/SccYjcommon/s/article/H000012092<br>
                                - 회사가 진행하는 각종 이벤트에서 고객의 참여 정도 및 방문 회수를 파악하여 차별적인 응모 기회를 부여하고 개인의 관심 분야에 따라 차별화된 정보를 제공하기 위한 자료로
                                이용됩니다.<br>
                                - 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나,
                                아니면 모든 쿠키의 저장을 거부 할 수도 있습니다. 다만, 쿠키 설치를 거부할 경우 웹 사용이 불편해지며 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수
                                있습니다.
                            </li>
                        </ul>
                        
                        <p class="text bold">쿠키 설치 허용 여부를 지정하는 방법</p>
                        <ul>
                            <li>
                                1. Internet Explorer : 웹 브라우저 상단의 도구 메뉴 > 인터넷 옵션 > 개인정보 > 설정<br>
                                2. Chrome : 웹 브라우저 우측의 설정 메뉴 > 설정 > 개인 정보 보호 및 보안 > 쿠키 및 기타 사이트 데이터설정<br>
                                3. Microsoft Edge : 메뉴 > 설정 > 개인정보, 검색 및 서비스 > 추적방지
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <button data-value="privacy-policy7" class="privacy-policy-btn">
                        <span class="sub-title">7. 개인정보의 안전성 확보 조치</span>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy7" class="privacy-policy-content">
                        <p class="text bold">회사는 정보주체의 개인정보를 안전하게 관리하기 위하여 다음의 노력을 하고 있습니다.</p>
                        <ul>
                            <li>
                                - 개인정보보호 내부 관리계획을 수립 ∙ 시행하고 있습니다.<br>
                                개인정보 보호책임자 지정 등 개인정보 보호 운영에 관한 사항 등을 포함하여 개인정보 내부관리계획을 수립하고, 매 년 내부관리계획을 잘 시행하고 있는지를 점검하고
                                있습니다.<br>
                                - 개인정보에 대한 접근 통제 및 접근 권한 제한 조치를 하고 있습니다.
                                개인정보에 대한 불법적인 접근을 차단하기 위해 개인정보 처리시스템에 대한 접근 권한의 부여 ∙ 변경 ∙ 말소 등에 관한 기준을 수립하여 시행하고 있으며 침입차단시스템 및
                                침입탐지시스템을 설치 ∙ 운영하고 있습니다. 또한 개인정보처리시스템에서 개인정보의 다운로드가 가능한 직원들의 업무용 PC에 대해 외부 인터넷망과 내부망을 분리하여
                                개인정보유출 가능성을 줄이고 있습니다.<br>
                                - 개인정보를 안전하게 저장 ∙ 전송할 수 있는 암호화 조치를 하고 있습니다.<br>
                                법령에서 요구하고 있는 비밀번호, 고유식별정보, 계좌번호 및 카드번호 등을 암호화하여 보관하고 있습니다. 또한 암호화 통신 등을 통하여 네트워크 상에서 개인정보를 안전하게
                                송수신하고 있습니다.<br>
                                - 개인정보 접속기록의 보관 및 위조 ∙ 변조 방지를 위한 조치를 하고 있습니다.<br>
                                개인정보취급자가 접속한 기록을 관리하며 접속기록이 위 ∙ 변조 및 도난, 분실되지 않도록 해당 접속기록을 안전하게 보관하고 있습니다.<br>
                                - 개인정보에 대한 보안프로그램을 설치 및 갱신하고 있습니다.<br>
                                개인정보의 훼손에 대비하여 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 유출되거나 손상되지 않도록 방지하고 있습니다.<br>
                                - 개인정보의 안전한 보관을 위한 물리적 조치를 하고 있습니다.
                            </li>
                        </ul>
                        해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 외부로부터 접근이 통제된 구역에 시스템을 설치하고 있으며, 출입통제 절차를 수립 ∙
                        운영하고 있습니다.<br>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>

</body>
</html>