@charset "UTF-8";

#main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.slide {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    height: 600px;
}

.slide ul {
    width: 300vw;
    list-style: none;
    font-size: 0;
    margin-top: -300px;
    transition: transform 0.5s ease-in-out;
}

.slide ul li {
    width: 100vw;
    display: inline-block;
}

.slide ul li img {
    width: 100vw;
}

.slide button.prev {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5rem;
}

.slide button.next {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5rem;
}

.search-container {
    background-color: #4a4a4a;
    height: 100px;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-container > .search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1100px;
}

.search-container > .search-form input {
    cursor: pointer;
    border: none;
    background-color: #4a4a4a;
    color: #ffffff;
}

.search-container > .search-form input::placeholder {
    color: #ffffff;
}

.search-container > .search-form > .search-button {
    padding: 0.925rem 1.5rem;
    background-color: #4a4a4a;
    color: #ffffff;
    border-radius: 0.375rem;
    border: 0.0625rem solid #ffffff;
}


.search-container > .search-form > .search-item {
    box-sizing: border-box;
}

.search-container > .search-form > .search-item > .text {
    color: #ffffff;
}


.search-container > .search-form > .search-item:first-child > .search > .icon {
    height: 1.25rem;
    margin-bottom: 0.275rem;
}

.search-container > .search-form > .search-item:nth-child(4) {
    box-sizing: border-box;
    padding-right: 2.5rem;
}

.search-container > .search-form > .search-item:nth-child(4) > .people {
    margin: 0 0.25rem;
    color: #ffffff;
}

.search-container > .search-form > .search-item:nth-child(4) > .minus > .icon {
    height: 1.125rem;
    margin-bottom: 0.25rem;
}

.search-container > .search-form > .search-item:nth-child(4) > .plus > .icon {
    height: 1.125rem;
    margin-bottom: 0.25rem;
}